<h1>Edit Gram</h1>

<%= simple_form_for @gram do |f| %>
  <%= f.input :message %>
  <%= f.submit "Post!" %>
<% end %>

<br />
<%= link_to "Delete Post", gram_path(@gram), method: :delete, data: {confirm: "Are your sure?" }, class: "btn btn-danger" %>
