<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 card form">

  <h1><%= @gram.message %> </h1>

  <%= image_tag @gram.picture %>

  <div class="gram-actions pull-right">
    <%= link_to "Back", root_path %> | <%= link_to "Edit", edit_gram_path(@gram) %>
  </div>
</div>
